body
{
font-family: 'Special Elite', cursive; background-color: yellow;   
}
.header_div
{
background-color: blueviolet; color: rgb(1, 14, 3);    
}
.header_div p
{
font-family: cursive; color: rgb(0, 0, 0);
letter-spacing: 2px; font-size: 12px; font-weight: bold;    
}
.main_div button
{
font-family: inherit; margin-top: 30px; width: 130px; font-weight: bolder;
letter-spacing: 3px;     
}
.copy_right_footer
{
position:fixed; color: black; background-color: yellow; font-size: 18px; bottom: 0; width: 100%; line-height: 3;
text-align: center;text-shadow: darkgray;    
}
